@charset "UTF-8";

@media only screen and (max-width: 700px) {
  body {
    font-size: 16px;
  }
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: powderblue;
}

header { background: pink;}
nav { background: lightgreen;}
aside { background: silver;}
main { background: lightyellow;}
footer { background: olive;}


